%h1 Listing static_pages
%table
  %thead
    %tr
      %th Title
      %th Content
      %th
      %th
      %th
  %tbody
    - @static_pages.each do |static_page|
      %tr
        %td
          = static_page.title
        %td
          = static_page.content
        %td
          = link_to 'Show', static_page
        %td
          = link_to 'Edit', edit_static_page_path(static_page)
        %td
          = link_to 'Destroy', static_page, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Static Page', new_static_page_path