.panel.panel-default.grid
  .panel-heading
    %i.icon-table.icon-large
    #{I18n.t('kebapage.static_pages')}

  %table.table
    %thead
      %tr
        %th #
        %th #{I18n.t('kebapage.title')}
        %th.actions
          #{I18n.t('kebapage.action')}
    %tbody.success
      - @static_pages.each do |static_page|
        %tr
          %td
            = (@static_pages.index static_page) + 1
          %td
            = static_page.title
          %td.action
            %a.btn.btn-success{href: main_app.pages_path(static_page), data: { toggle: 'tooltip'}, title: I18n.t('kebapage.show')}
              %i.icon-zoom-in
            %a.btn.btn-info{href: edit_static_page_path(static_page)}
              %i.icon-edit
            = link_to static_page_path(static_page), method: :delete, data: { confirm: I18n.t('kebapage.ru_sure')}, class: 'btn btn-danger' do
              %i.icon-trash

= link_to I18n.t('kebapage.new_page'), new_static_page_path, method: :get, class: 'btn btn-default btn-success'