.panel.panel-default.grid
  .panel-heading
    %i.icon-table.icon-large
    Static Pages

  %table.table
    %thead
      %tr
        %th #
        %th Title
        %th Content
        %th.actions
          Action
    %tbody.success
      - @static_pages.each do |static_page|
        %tr
          %td
            = (@static_pages.index static_page) + 1
          %td
            = static_page.title
          %td
            = truncate static_page.content, length: 25
          %td.action
            %a.btn.btn-success{href: main_app.pages_path(static_page), data: { toggle: 'tooltip'}, title: 'Zoom'}
              %i.icon-zoom-in
            %a.btn.btn-info{href: edit_static_page_path(static_page)}
              %i.icon-edit
            = link_to static_page_path(static_page), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' do
              %i.icon-trash

= link_to 'New Static Page', new_static_page_path, method: :get, class: 'btn btn-default'